html * {
  color:                  #555;
}

html {
  background:              #82438E url(../images/background.png) repeat-x;
}

body {
	background: 		#FFF;	
}

a:visited {
  color:                  #000;
}
a:focus, a:hover, a:active {
  color:                  #7D4189;
}

h4 a:focus, h4 a:hover {
  color:                #703A7B;
}


/* Header tabbed menu */
#header {
  background:           #FFF url(../images/header.gif) repeat-x bottom;
	  
}

#header p strong img, 
#header p strong a {
  color:                #7D4189;
}

#header p strong a:hover img, 
#header p strong a:hover {
  color:                #9661A0;
}

#header ul {
	list-style: none;
}

#header li, #header li a {
  background:             url(../images/menu_tab.gif) no-repeat top left;
}

#header li a {
  color: #7e7e7e;
  background-position:    top right;
}
#header li.current {
  background-image:       url(../images/menu_tab_current.gif);
}
#header li.current a {
  background-image:       url(../images/menu_tab_current.gif);
}
#header li a:hover, #header li.current a {
  color:                  #AF5FBF;
}
/* /Header tabbed menu */


/* Main content top segment */
#main_content {
	background-color:       #ebebe6;
}

#main_content h1 {
  color:                  #63336C;
}
#gallery h1, #search h1 {
  color:                  #555;
}
#gallery h1 em, #search h1 em {
  color:                  #63336C;
}

#go_back_to_thumbnails {
	background:             url(../images/arrow_left_color.png) no-repeat left center;
	padding: 5px;
}

#go_to_gallery {
	background:             url(../images/gallery_album.png) no-repeat left center;
}

#see_data_sheet {
	background:             url(../images/arrow_down_color.png) no-repeat left center;
}

#summary #see_data_sheet {
	background:             url(../images/arrow_down_white.png) no-repeat left center;
}

/* /Main content top segment */


/* Thumbnails */
#thumbnails h2, #thumbnails h2 a:link, 
#thumbnails h3, #thumbnails h3 a:link {
  color:                  #555;
}
#thumbnails h2 a:visited, 
#thumbnails h3 a:visited {
  color:                  #888;
}
#thumbnails h2 a:hover, 
#thumbnails h3 a:hover {
  color:                  #7D4189;
}

ul#thumbnails li {
  color:                  #000;
}

ul#thumbnails li div {
  border-color:           #BFBFBF;
  background-color:       #FFF;
}


ul#thumbnails li div a {
  background:             #0E070F;
}

ul#thumbnails li div a:visited {
  background:             #8F8F8F;
}
body.videos ul#thumbnails li div a:visited {
	background:             none;
}

ul#thumbnails li div a:hover {
  background:             #2C172F;
}



ul#thumbnails a img, 
#thumbnails label {
	color:                  #000;
}

ul#thumbnails a:hover img, 
ul#thumbnails a:hover label {
	color:                  #FFF;
}

ul#thumbnails li div a label {
	color: #FFF;
}

/* /Thumbnails */



/* Summary */
#summary, #data_sheet, body.application #main_content ul, #picture_description {
	background-color:       #FFF;
	border-color:           #D9D9D5;
}
/* /Summary */


/* Link to Selection */
#go_to_selection {
	background:             #FFF url(../images/select_pictures.png) no-repeat top left;
}

#go_to_selection:link, 
#go_to_selection:visited {
  color:                  #82438E;
}

#go_to_selection:hover {
  color:                  #88628F;
}
/* /Link to Selection */


/* Paging */

p.pages {
  background: url(../images/paging.png) no-repeat;
  border: none;
} 

.pages a:visited {
  color:                  #868F8F;
}

.pages a.previous {
  background:             url(../images/arrow_left_small.png) no-repeat left center;
}
.pages a.previous:visited,
.pages a.next:visited {
	color:                  #555;
}

.pages a.next {
  background:             url(../images/arrow_right_small.png) no-repeat right center;
}


.pages strong {
  color:                  #572E5F;
}
/* /Paging */



/* Big picture page */
#big_picture a span, #big_video a span {
	background:      url(../images/arrow_previous.png) no-repeat center right;
}

#big_picture a#previous, #big_picture a#next, #big_video a#previous, #big_video a#next {
	color: #EBEBE6;
}

#big_picture a#previous:hover span, #big_video a#previous:hover span {
	background-image:       url(../images/arrow_previous_hover.png);
}

#big_picture #next span, #big_video #next span {
	background:             url(../images/arrow_next.png) no-repeat center left;
}
#big_picture a#next:hover span, #big_video a#next:hover span {
	background-image:       url(../images/arrow_next_hover.png);
}

#big_picture img, #big_video object {
  	color:                  #7F6B43;
	border-color:           #432349;
}

#big_picture label {
  color:                  #FFF;
  background:             #432349;
}

#big_video label {
	margin-top: 30px;
	background: #EBEBE6;
}

/* /Big picture page */



/* Selection */
.go_to_checkout a {
  color:                  #343E3E;
}

.go_to_checkout a:hover {
  color:                  #82438E;
}

#checkout #selection_size label {
	color: #4D2854;
}

body#selection #selection_size label {
	color: 					#4D2854;
	font-weight: 			bold;
}

#cart_items {
	background:             #DEDEDA;
	border-color:           #47254D;
}

#cart_items.instructions {
	background:             #DCCEE3 url(../images/selection_instructions.gif) no-repeat center center;	
}

#all_pictures li label, #all_pictures li a, 
#cart_items label, #cart_items a, 
#selected_pictures label, #selected_pictures a {
	background-color:       #EBEBE6;
}

#all_pictures label, #cart_items label, 
#selected_pictures label {
  color:                  #402246;
	opacity:                .7;
}

#all_pictures a:hover, 
#cart_items a:hover, 
#selected_pictures a:hover {
	background:             transparent url(../images/magnifying_glass.gif) no-repeat center center;
}

#selected_pictures a.remove_picture:hover {
	background:             none;
}

.go_to_checkout {
	background:             transparent url(../images/shopping_cart.png) no-repeat right center;
}

.moved_to_cart {
	opacity:                .3;
}
/* /Selection */


/* Forms (contact, checkout, search) */
label {
	color:                  #422348;
}

input, textarea {
  	color:                  #111;
	background-color:       #FFF;
	border-color:           #82438E;
}

input:hover, textarea:hover {
	border-color:           #940029;
}

input:active, input:focus,
textarea:active, textarea:focus {
	background-color:       #FEFFBF;
	border-color:           #940029;
}

button {
  	color:                  #111;
	background-color:       #DEDEDA;
}

.submitting {
	color:                  #000;
	background:             #DEDEDA url(../images/spinner_form.gif) no-repeat 95% center;
}

.email_field_with_errors {
	border: 				solid 1px #BF3730;
	background: 			#BF3730;
}

#submit_error {
	background-color:       #BF3730;
}

#submit_success {
	background-color:       #6F8E43;
}

#submit_error, #submit_success {
  color:                  #fff;
}

/* Specific for global search form */
#global_search {
	background:             transparent url(../images/search_corner_left.gif) no-repeat left ;
}

#global_search fieldset {
	background:             transparent url(../images/search_corner_right.gif) no-repeat right center;
}

#global_search #query {
	color:                  #7e7e7e;
  background:             #000 url(../images/search_input_shading.gif) repeat-x left top;
  border: 0;
}
/* /Forms (contact, checkout, search) */


/* Errors (404, 500, timeout, empty search results) */
body.application #main_content h2 {
  background:             no-repeat center top;
}
body#page_not_found #main_content h2 {
	background-image:       url(../images/error_404.jpg);
}
body#server_error #main_content h2 {
	background-image:       url(../images/error_500.jpg);
}
body#timeout #main_content h2 {
 	background-image:       url(../images/error_timeout.jpg); 
}

#searched_item {
	color:                  #63336C;
	font-weight: 		bold;
}
/* /Errors (404, 500, timeout, empty search results) */


/* Facebox */
#facebox div {
	border-right: 5px solid #2F2F2F;
	border-bottom: 5px solid #2F2F2F;
	border-left: 2px solid #2F2F2F;
	border-top: 2px solid #2F2F2F;
	background: #FFF;

}
/* /Facebox */


/* Footer */
#footer {
	background:             url(../images/footer.png) no-repeat;
}

#footer h2, 
#footer h2 a {
  color:                  #555;
}

#beonthenet:hover img, 
#improveit:hover {
  color:                  #7D4189;
}
/* /Footer */


/* Text pages */
body.text dt, 
body.text #main_content strong {
  color:                #422348;
  font-weight: 			bold;
}

body.text #main_content p, body.text #main_content dl {
	padding-left: 10px;
}

body.text #toc {
  background:             #DEDEDA;
  border-color:           #45254B;
}

.text #main_content ol li p:first-child {
  color:                  #AF5FBF;
}

body.text #main_content dt {
  color:                  #512A58;
}

code {
  color:                  #111;
  background:             #DEDEDA; 
}

.text table * {
  border-color:           #45254B;
}

.text th {
  color:                  #45254B;
  background:             #DEDEDA;
}

.text td span {
  color:                  #555;
}

pre {
  background:             #DEDEDA;
  border-color:           #45254B;
}
/* /Text pages */